* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
 
body{
    background-color: rgb(0, 195, 255);
}

.nav-bare{
    position: absolute;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box ;
    background-color: rgba(128, 128, 128, 0.742);
} 

.nav-bare a{
    color: white;
}
.nav-bare a:hover{
    color: rgb(0, 200, 255);
}

.nav-bare .logo{
    font-size: 2em;
    font-weight: bold;
}

.nav-bare .nav-link ul {
   display: flex;
}

.nav-bare .nav-link ul li{
    display: flex;
    align-items: center;
 }

 .nav-bare .nav-link ul li{
    margin: 0 25px;

 }

 .nav-bare .nav-link ul li.active a{
    color: rgb(0, 174, 255);
    font-weight: 600;
 }

 .nav-bare .nav-link ul li.active a:hover{
    color: rgb(0, 221, 255);
    font-weight: 600;
 }

h1{
    color: white;
    text-align: center;
    
}

form{
    text-align: center;}

.img{
    width: 25em;
}